name: Build and Push Docker Image

on:
  push:
    branches: ["*"]
    tags: ["v*"]

jobs:
  docker-base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - ros_version: humble
            gz_version: garden
            px4_version: v1.14.4_timesync_backport
            px4_repo: https://github.com/damien-robotsix/PX4-Autopilot.git
            microxrce_version: v2.4.2
            tag_suffix: humble-garden-px4-1.14.4_arrc
          - ros_version: humble
            gz_version: garden
            px4_version: v1.14.4
            px4_repo: https://github.com/PX4/PX4-Autopilot.git
            microxrce_version: v2.4.2
            tag_suffix: humble-garden-px4-1.14.4
          - ros_version: humble
            gz_version: garden
            px4_version: v1.15.4
            px4_repo: https://github.com/PX4/PX4-Autopilot.git
            microxrce_version: v2.4.2
            tag_suffix: humble-garden-px4-1.15.4
          - ros_version: jazzy
            gz_version: harmonic
            px4_version: v1.16.0
            px4_repo: https://github.com/PX4/PX4-Autopilot.git
            microxrce_version: v2.4.3
            tag_suffix: jazzy-harmonic-px4-1.16.0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract metadata for Docker Base
        id: meta-base
        uses: docker/metadata-action@v4
        with:
          images: robotsix/px4-sim-base
          tags: |
            type=raw,value=${{ matrix.tag_suffix }}
            type=raw,value=${{ matrix.tag_suffix }}-${{ github.sha }}
            type=raw,value=latest,enable=${{ matrix.tag_suffix == 'jazzy-harmonic-px4-1.16.0' && github.ref == 'refs/heads/main' }}

      - name: Build and push Docker base image
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: ./docker/Dockerfile.base
          push: true
          tags: ${{ steps.meta-base.outputs.tags }}
          labels: ${{ steps.meta-base.outputs.labels }}
          build-args: |
            ROS_VERSION=${{ matrix.ros_version }}
            GZ_VERSION=${{ matrix.gz_version }}
            PX4_VERSION=${{ matrix.px4_version }}
            PX4_REPO=${{ matrix.px4_repo }}
            MICRO_XRCE_DDS_VERSION=${{ matrix.microxrce_version }}

  docker:
    needs: docker-base
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tag_suffix: humble-garden-px4-1.14.4
          - tag_suffix: humble-garden-px4-1.14.4_arrc
          - tag_suffix: humble-garden-px4-1.15.4
          - tag_suffix: jazzy-harmonic-px4-1.16.0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: robotsix/px4_simulation
          tags: |
            type=raw,value=${{ matrix.tag_suffix }}
            type=raw,value=${{ matrix.tag_suffix }}-${{ github.sha }}
            type=raw,value=latest,enable=${{ matrix.tag_suffix == 'jazzy-harmonic-px4-1.16.0' && github.ref == 'refs/heads/main' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BASE_IMAGE=robotsix/px4-sim-base:${{ matrix.tag_suffix }}
            GIT_REF=${{ github.ref_name }}
